.modalWrapper {
  // background: rgba(34, 0, 46, 0.2);

  .registerContainer {
    // top: 0 !important;
    margin-top: 0 !important;
    transform: translateY(-50%) !important;
    
    height: unset !important;
  }

  .modalContainer {
    top: 50%;
    margin: -225px auto 0;

    min-height: unset;
    max-width: 500px;
    
    // width: 914px;
    height: 450px;

    background: #23002F;
    // border: 1px solid #7334AE;
    border: 1px solid;
    border-image-source: linear-gradient(180deg, #7334AE 0%, #3E0251 100%);


    border-radius: 16px;

    .modalContent {
      // background: linear-gradient(90deg, #23002F -2%, rgba(35, 0, 47, 0) 73.08%), url('../../../public/img/login/bkg.png')
      background: #121111;

      width: 100%;
      height: 100%;
      padding: 2rem;
      border-radius: 16px;

      .heading {
        display: flex;
        justify-content: flex-end;

        button {
          width: fit-content;

          svg {
            width: 18px;
            height: 18px;

            line {
              stroke: #fff;
            }
          }
        }
      }

      .modal-body {
        padding: unset;
        padding-top: 1rem;
        // padding-left: 1.75rem;

        h5 {
          margin-bottom: 15px;
          font-weight: 500;
          font-size: 36px;
        }

        .inputs {
          form {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;

            .input-style {
              width: 100% !important;
              background: rgba(255, 255, 255, 0.05);
              border: 1px solid rgba(255, 255, 255, 0.05);
              border-radius: 60px;
              
              height: 50px;
              font-size: 1rem;
              
            /* remove autofill background */
              input:-webkit-autofill {
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: white !important;
              }
            }

            button {
              width: 190px;
              height: 52px;
            }

            a {
              text-align: center;
              text-decoration: underline !important;
              font-size: 12px;
            }

            .regBtn {
              width: unset !important;
              height: unset !important;
              box-shadow: none;
              
              text-transform: none;

              text-align: center;
              text-decoration: underline !important;
              font-size: 12px;
            }

            .regBtn:hover {
              color: white;
            }

    
          }
        }

        .input-style input {
          height: 100%;
        }
      }

    }
  }
}


/* mobile modal */
@media (max-width:769px) {
  .modalContainer {
    width: 90% !important;
  }

  .modalContent .modal-body {
    padding-left: 0px !important;

    h5 {
      font-size: 20px;
    }

    .inputs {
      form {
        gap: 18px !important;
        width: 70% !important;
      }

      button {
        width: 92px !important;
      }
    }
  }


}

@media (max-width:576px) {
  .modalContent .modal-body .inputs form {
    width: 100% !important;
  }
}