.cover span img {
  border-radius: 12px;
}

@media screen and (min-width: 992px) {
  .cover {
    display: flex;
    justify-content: right;
    padding-right: 20px;
  }
}

@media screen and (max-width: 991px) {
  .cover {
    display: flex;
    justify-content: center;
  }
}
