.color-white{color: #FFFFFF;}
.color-purple{color: #7334AE}
.color-pink{color: #CA2962}
.color-grey{color: #9BA7BF}
.bg-pink{background: #CA2962 !important;}
.bg-purple{background: #7334AE}
.bg-dullPurple{background: #5B44B0 !important;}
.border-dullPurple{border: 1.4px solid #5B44B0 !important;}
.bg-drkpurple{background: #220733 }
.bg-purplish{background: #23002F !important;;}
